@model ShiftsWithLocationsViewModel

<form method="get">
	<input type="date" value="@ViewBag.Date" name="date" />
	<select name="locationCode">
		@foreach (var location in Model.Locations)
		{
			<option value="@location.Code">@location.Name</option>
		}
	</select>
	<input type="submit" value="Select" class="btn-primary mb-3" />
</form>

@if (Model.NotCompletedShifts != null && Model.NotCompletedCount > 0)
{
	<a asp-controller="Shift" asp-action="ManageNotCompletedShifts" asp-route-date="@ViewBag.Date" asp-route-locationCode="@ViewBag.LocationCode">
		Not completed tna shifts (@Model.NotCompletedCount)
	</a>
}

@if (Model.CompletedShifts == null && Model.NotCompletedShifts == null)
{
	<h1>Please select date and location!</h1>
}
else if (Model.CompletedShifts.Count() == 0 && Model.NotCompletedShifts.Count() == 0)
{
	<h1>There are no shifts for this date!</h1>
}
else
{
	<table class="table table-light">
		<thead>
			<tr style="text-align: center">
				<th scope="col">Employee</th>
				<th scope="col">Shift</th>
				<th scope="col">Hours worked</th>
				<th scope="col">Cost</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var s in Model.CompletedShifts!)
			{
				<tr style="text-align: center">
					<td>
						@s.EmployeeName
					</td>
					<td>
						@s.Start.TimeOfDay - @s.End.TimeOfDay
					</td>
					<td>
						@s.HoursWorked.Hours
					</td>
					<td>
						@if (Model.CompletedShifts
								.Any(cs => cs.EmployeeName == s.EmployeeName
									&& s.ShiftId != cs.ShiftId
									&& ((cs.Start.TimeOfDay <= s.Start.TimeOfDay 
									&& cs.End.TimeOfDay <= s.End.TimeOfDay 
									&& s.Start.TimeOfDay < cs.End.TimeOfDay) 
									|| (cs.Start.TimeOfDay >= s.Start.TimeOfDay && cs.End.TimeOfDay <= s.End.TimeOfDay)
									|| (cs.Start.TimeOfDay <= s.Start.TimeOfDay && cs.End.TimeOfDay >= s.End.TimeOfDay)
									|| (cs.Start.TimeOfDay >= s.Start.TimeOfDay 
									&& cs.End.TimeOfDay >= s.End.TimeOfDay
									&& cs.Start.TimeOfDay < s.End.TimeOfDay)
									))
							)
						{
							@s.Cost <span style="color: red">(Overlapped)</span>
						}
						else
						{
							@s.Cost
						}
					</td>
				</tr>
			}
			@foreach (var s in Model.NotCompletedShifts!)
			{
				<tr style="text-align: center">
					<td>
						@s.EmployeeName
					</td>
					<td>
						@s.Start.TimeOfDay - @s.End.TimeOfDay
					</td>
					<td>
						@s.HoursWorked.Hours
					</td>
					<td>
						@if (Model.NotCompletedShifts
								.Any(ncs => ncs.EmployeeName == s.EmployeeName
									&& s.ShiftId != ncs.ShiftId
									&& ((ncs.Start.TimeOfDay <= s.Start.TimeOfDay
									&& ncs.End.TimeOfDay <= s.End.TimeOfDay
									&& s.Start.TimeOfDay < ncs.End.TimeOfDay)
									|| (ncs.Start.TimeOfDay >= s.Start.TimeOfDay && ncs.End.TimeOfDay <= s.End.TimeOfDay)
									|| (ncs.Start.TimeOfDay <= s.Start.TimeOfDay && ncs.End.TimeOfDay >= s.End.TimeOfDay)
									|| (ncs.Start.TimeOfDay >= s.Start.TimeOfDay
									&& ncs.End.TimeOfDay >= s.End.TimeOfDay
									&& ncs.Start.TimeOfDay < s.End.TimeOfDay)
									))
							)
						{
							<p>Shift is not complete! <span style="color: red">(Overlapped)</span></p>
						}
						else
						{
							<p>Shift is not complete!</p>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
}