@model LocationWithCodeViewModel

<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form method="post">
			<div class="mb-3">
				<label asp-for="@Model.Name" class="form-label">Location name</label>
				<input asp-for="@Model.Name" class="form-control" aria-required="true" value="@Model.Name" />
				<span asp-validation-for="@Model.Name" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="@Model.Code" class="form-label">Location code</label>
				<label asp-for="@Model.Code" class="form-control">@Model.Code</label>
				<input asp-for="@Model.Code" value="@Model.Code" type="hidden" />
				<span asp-validation-for="@Model.Code" class="text-danger"></span>
			</div>
			<input asp-for="@Model.Id" value="@Model.Id" type="hidden" />
			<div class="mb-3">
				<input class="btn btn-primary" type="submit" value="Apply" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}